@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

*{
    margin: 0%;
    padding: 0%;
}

.main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
    justify-content: center;
}
.main .logo{
    font-family:Product Sans;
    font-size: 10rem;
    font-weight: bold;
}
span{
    display: inline;
}
.g1{
    color: #4285F4;
}
.o1{
    color: #EA4335;
}
.o2{
    color: #FBBC05;
}
.g2{
    color: #4285F4;
}
.l{
    color: #34A853;
}
.e{
    color: #EA4335;
}
.search{
    position: relative;
    width: 500px;
    margin-top: 1rem;
}
input{
    width: 100%;
    height: 30px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: #e4e3e3;
    font-size: 1.1rem;
    box-shadow: 0 0 5px grey;
    text-indent: 2rem;
}
input:hover, input:focus{
    box-shadow: none;
    background-color: #d6d6d6;
}
input::placeholder{
    font-size: 1rem;
    color: gray;
    font-weight: 700;
    text-align: center;
}
.mg{
    position: absolute;
    top: 30%;
    left: 3%;
    font-size: 1.2rem;
    color: gray;
}
.mic{
    position: absolute;
    right: 1%;
    top: 30%;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    color: #4285F4;
    background-color: inherit;
}   
.mic:hover{
    text-shadow: 0 0 4px #EA4335;
}
.btns{
    margin-top:2rem;
    text-align: center;
}
.btn{
    padding: 0.8rem;
    margin-right:0.5rem;
    background-color: #c4c3c3;
    border: none;
    border-radius: 5px;
    font-size: 0.85rem;
    font-family: Product Sans;
    font-weight: 800;
    color: rgb(26, 26, 26);
    cursor: pointer;
    border: 3px solid #c4c3c3;

}
.btn:hover{
    border-color:  gray;
    
}
